@charset "UTF-8";

body {
    background-color: rgb(63, 61, 61);
}

h2 {
    text-align: center;
    margin-top: 3em;
}

.carrosClassicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrosExecutivos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrosEsportivos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrosEcologicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.rodape {
    background-color: #000;
    color: #fff;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}